<div class="col-xs-12 col-sm-6 col-md-3 grid-item {{#if image}} grid-item-image loading {{else}} grid-item-text {{/if}}">
	<div class="thumbnail">
		{{#if image}}
			<div class="image-wrapper">
				<img src="{{image}}" alt="thumbnail" />
			</div>
		{{/if}}
		<div class="caption">
			<h3>{{{title}}}</h3>
			<p>{{excerpt characters="50"}}…</p>
			<a href="{{url}}" class="btn btn-default btn-xs" role="button">More.</a>
			<time>{{date format="MMMM Mo, YYYY"}}</time>
		</div>
	</div>
</div>
