{{!< default}}

<section class="{{body_class}}">
    <div class="container">

        <div class="row grid">
            {{#foreach posts}}

                <div class="col-xs-12 col-sm-6 col-md-3 grid-item {{#if image}} grid-item-image loading{{/if}}">
                    <div class="thumbnail">
                        {{#if image}}
                            <div class="image-wrapper">
                                <img src="{{image}}" alt="thumbnail" />
                            </div>
                        {{/if}}
                        <div class="caption">
                            <h3>{{{title}}}</h3>
                            <p>{{excerpt characters="50"}}…</p>
                            <a href="{{url}}" class="btn btn-info" role="button">More.</a>
                            <time>{{date}}</time>
                        </div>
                    </div>
                </div>

            {{/foreach}}
        </div>

    </div>
</section>

{{pagination}}
